.mobile-navbar-container {
    position: sticky;
    top: 0;
    height: 2em;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 3;
}

.mobile-navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mobile-navbar-menu-icon {
    position: absolute;
    top: .25em;
    right: 1em;
    z-index: 30;
}

.mobile-navbar-links-container {
    background-color: white;
    width: 100%;
    height: 66vh;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: .95;
    z-index: 4;
    border-bottom: 1px solid black;
}

.mobile-navbar-open-menu {
    background-color: rgba(54, 187, 227, 0.554);
    width: 100%;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closed-mobile-navbar-general {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: none;
}