.event-image {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 7px;
}

@media (min-width: 600px) {
    .home-events-container {
        width: 80%;
        margin: 1em auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    .event-image {
        border-radius: 7px;
        min-width: 100%;
        max-height: 70%;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .empty-spacer {
        height: 1em;
    }

    .home-events-container {
        max-width: 1300px;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
    }
}