.zeffy-container {
    /* position: relative; */
    /* overflow: hidden; */
    height: 1200px;
    width: 80%;
    margin: 0 auto;
}

.zeffy-frame {
    /* position: absolute; */
    border: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}