.elder-text {
    font-family: 'Lato';
    text-align: center;
    margin: -.5em .25em 1em;
    overflow-y: auto;
    height: 33vh;
}

.elder-image {
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .elder-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: 1fr;
        column-gap: 1em;
        margin: 2em auto;
        height: auto;
    }
    
    .elder-text {
        height: auto;
    }

}