.event-container {
    width: 80%;
    margin: 1em auto;
    /* border: 1px groove black;
    border-radius: 7px; */
}

.event-header {
    font-family: 'Raleway';
    text-align: left;
    margin-bottom: .15em;
}

.event-spacer {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
    border-radius: 7px;
    margin-top: 1em;
}

.events-parent div:last-child hr {
    display: none;
}

.event-text {
    font-family: 'Lato';
    margin: -.5em auto .75em;
    text-align: left;
    font-size: .9em;
}

.event-text:last-of-type {
    font-size: .75em;
    text-align: center;
    text-decoration: underline;
}