.landing-image {
    margin: 0 auto;
    width: 80%;
    max-height: 90vh; 
    object-fit: cover;
    border-radius: 7px;
    max-width: 1300px;
}

.empty-spacer {
    height: .5em;
}

.event-image {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 7px;
}

@media (min-width: 600px) {
    .home-events-container {
        width: 80%;
        margin: 1em auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
    }

    .event-image {
        border-radius: 7px;
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    .landing-image {
        margin: .5em auto;
    }

    .empty-spacer {
        height: 1em;
    }

    .home-events-container {
        max-width: 1300px;
        grid-template-columns: auto auto auto;
        row-gap: 1em;
    }
}