@media (min-width: 600px) {
    .mobile-navbar-container {
        display: none;
    }
}

.mobile-navbar-menu-icon {
    display: inline;
    position: relative;
    left: 90%;
    top: 5px;
}

.mobile-navbar-links-container {
    background-color: white;
    width: 100%;
    height: 66vh;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: .95;
    z-index: 3;
}

.mobile-navbar-open-menu {
    position: absolute;
    background-color: rgb(184, 184, 184);
    width: 100%;
    text-align: center;
}

.closed-mobile-navbar-general {
    display: none;
}