.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    /* background-color: brown; */
}

.navbar-list {
    padding-left: 1em;
}

.drop-down-container {
    /* background-color: yellow; */
    text-align: center;
}

@media (max-width: 599px) {
    .navbar-container {
        display: none;
    }
}