.navbar-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 1em auto;
    padding: 0 1em;
    width: 100%;
    background-color: white;

}

.navbar-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    padding-left: 1em;
    display: inline;
}

.drop-down-container {
    text-align: center;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    width: 10em;
    top: 1.25em;
}

.drop-down-ref {
    cursor: pointer;
    display: inline;
}

.who-we-are {
    right: 18em;
}

.ministry {
    right: 12.5em;
}

.navbar-divider {
    margin: 0;
}

@media (max-width: 599px) {
    .navbar-container {
        display: none;
    }
}