@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.footer {
    background-color: rgba(54, 187, 227, 0.554);
    overflow: hidden;
}

.map-container {
    margin: 0 auto;
    border-radius: 7px;
    height: 20vh;
    width: 95%;
}

.footer-header {
    font-family: 'Raleway';
    text-align: center;
    margin: .25em;
}

.footer-general-text {
    font-family: 'Lato';
    text-align: center;
    margin: .25em;
}

.church-map {
    width: 80%;
    max-width: 375px;
    margin: 0 auto;
    border-radius: 7px;
    object-fit: cover;
}

.rios-link {
    font-size: .66em;
    margin: 0;
}

@media (min-width: 600px) {
    .footer {
        font-size: .75em;
    }
    .footer-grid-container, .map-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        width: 95%;
        margin: 1em auto;
        padding-top: .5em;
        align-items: start;
        column-gap: 1.5em;
        max-width: 1500px;
    }

    .map-container {
        /* min-height: 25vh; */
        width: 100%;
        align-self: center;
        
    }
}