@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Zeyada&display=swap");

:root {
    font-size: 17px;
}

.header {
    font-family: 'Raleway';
    text-align: center;
    margin: .25em .5em;
    font-size: clamp(20px, 5vw, 34px);
}

.sub-header {
    font-family: 'Raleway';
    text-align: center;
    margin: .25em;
    font-size: clamp(18px, 4vw, 30px);
}

.general-image {
    width: 80%;
    margin: 0 auto 1em;
    border-radius: 7px;
}

.general-text {
    font-size: clamp(17px, 2vw, 20px);
    font-family: 'Lato';
    text-align: center;
    margin: .25em;
}

.general-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.general-link {
    text-decoration: underline;
}

.bible-text {
    font-family: 'Dancing Script';
    font-size: clamp(17px, 4vw, 24px);
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


label,
input,
textarea,
select {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.app-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-click {
    text-decoration: underline;
}

.modal-click:hover {
    cursor: pointer;
    color: blue;
}


@media (min-width: 700px) {
    .general-image {
        width: 40%;
    }
}