@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Zeyada&display=swap");

:root {
    font-size: 17px;
}

.header {
    font-family: 'Raleway';
    text-align: center;
    margin: .25em .5em;
    font-size: 1.5em;
}

.sub-header {
    font-family: 'Raleway';
    text-align: center;
    margin: .25em;
}

.general-image {
    width: 80%;
    margin: 0 auto 1em;
    border-radius: 7px;
}

.general-text {
    font-family: 'Lato';
    text-align: center;
    margin: .25em;
}

.general-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.general-link {
    text-decoration: underline;
}

.bible-text {
    font-family: 'Dancing Script';
    font-size: 1.33em;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


label,
input,
textarea {
    display: block;
    max-width: 800px;
}

.flex-footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper-child {
    flex: auto;
    /* position: relative; */
}

.footer-child {
    bottom: 2vh;
}

.working {
    position: fixed;
    bottom: 0;
    padding: 1em;
    background-color: gray;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 187, 227, 0.9);
}

.modal-click {
    text-decoration: underline;
}

.modal-click:hover {
    cursor: pointer;
    color: blue;
}

.close-icon {
    display: flex;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (min-width: 700px) {
    .general-image {
        width: 40%;
    }
}