.deactive-modal {
    height: 50vh;
    width: 80%;
    max-width: 1000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 250ms;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(54, 187, 227, .95);
    border: 1px solid black;
    border-radius: 7px;
    z-index: -2;
    opacity: 0;
    overflow-y: auto;
}

.active-modal {
    height: 70vh;
    width: 80%;
    max-width: 1000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 250ms;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(202, 226, 251);
    border: 1px solid black;
    border-radius: 7px;
    z-index: 2;
    overflow-y: auto;
}

.close-icon {
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 3px;
    z-index: 2;
}

.modal-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.modal-head-section {
    position: sticky;
    top: 0;
    background-color: white;
}

.modal-headers {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    position: sticky;
    font-family: 'Raleway';
    font-size: clamp(18px, 4vw, 26px);
    border-bottom: 1px solid black;
}

.modal-header-container {
    display: flex;
    align-items: center;
}

.modal-arrow-contianer {
    display: flex;
    max-height: 100%;
}

.modal-arrow-contianer:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal-row a {
    color: inherit;
}

.modal-row a:hover {
    color: blue;
}

.modal-row {
    font-size: clamp(17px, 4vw, 24px);
    text-align: center;
    border-bottom: 1px solid black;
}

.modal-row:nth-child(even) {
    color: black;
    background-color: white;
    text-shadow: none;
}

.modal-row:last-of-type {
    border-bottom: none;
}

@media (min-width: 500px) {
    .modal-row {
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
    }

    .close-icon {
        right: 10px;
    }
}

@media (min-width: 700px) {
    .active-modal {
        height: 50vh;
    }
}